# count_correct_incorrect.ipynb

This file contains the code for counting the percentage of correct answers in the dataset to find how much the data is imbalanced.

In [ ]:
# Import libraries

import pandas as pd

In [9]:
df_train = pd.read_json('data_outputs/train_fold_1_n_20.json') # change for different files to see the results
df_val = pd.read_json('data_outputs/val_fold_1_n_20.json') # change for different files to see the results
df_test = pd.read_json('data_outputs/test_n_20.json') # change for different files to see the results

# Append the dataframes
df = df_train.append(df_val)
df = df.append(df_test)

# Check the dataframes
print(len(df_train), len(df_val), len(df_test), len(df))
df.head()

3881 1937 1056 6874

/var/folders/15/bmbcw71s1l12pc4g0617fwww0000gn/T/ipykernel_64162/962658434.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df_train.append(df_val)
/var/folders/15/bmbcw71s1l12pc4g0617fwww0000gn/T/ipykernel_64162/962658434.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_test)

,student_id,question_ids,answers,difficulties,hint_used
0,1451,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...","[1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 2, 1, 1, 2, 1, 2, 2, 2, 2, 3, 2, 2, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,1451,"[22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 3...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,1451,"[42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 5...","[1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, ...","[1, 1, 1, 1, 2, 2, 3, 2, 1, 1, 1, 1, 2, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,1451,"[62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 7...","[1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, ...","[1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 2, 2, 2, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,1451,"[82, 83, 84, 85, 86, 87, 91, 92, 93, 94, 95, 9...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, ...","[2, 3, 3, 3, 3, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."

In [10]:
correct_ratio = df['answers'].apply(lambda x: x[-1] == 1).sum() # x[-1] refers to the last answer; 1 == correct, 0 == incorrect

print("Correct ratio:", 1.0*correct_ratio/len(df))

6874
1 ratio 0.715740471341286